*{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


body{
    margin: 10%;
    padding: 0%;
    border: 0cap;
    background: linear-gradient(to bottom right, rgb(207, 255, 255), #eafff7);
}


.container-p-4-pb-0{
    border-style: ridge;
}
